*{
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    margin: 0;
}

.block{
    display: inline-block;
    width: 1rem;
    aspect-ratio: 1/1;
    border: .05rem solid black;
    background-color: red;
}

form{
    display: flex;
    width: 15rem;
    flex-direction: column;
}

.builder-display{
    line-height: 0;
}
