*{
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    margin: 0;
}

header{
    height: 5rem;
    background-color: aliceblue;
    border-bottom: 2px solid black;
}

@font-face {
    font-family: 'Lucy Said Okay';
    src: url('sources/font/LucySaidOkPersonalUse.ttf');
}

.header-flex-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.admin-login input{
    width: 4rem;
    display: inline-block;
}

.basic-text{
    display: inline-block;
    font-size: 2.4rem;
}

@keyframes glow {
    0% {
        background-color: rgb(169, 0, 0);
    }

    25%{
        background-color: rgb(78, 155, 0);
    }

    50% {
        background-color: rgb(109, 0, 0);
    }

    75%{
        background-color: rgb(0, 150, 150);
    }

    100% {
        background-color: rgb(169, 0, 0);
    }
}

.test-pishka{
    background-color: rgb(112, 0, 0);
    color: white;
    animation: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.entrance-text{
    margin: 0;
    margin-bottom: 1rem;
    line-height: .9rem;
    text-align: center;
    font-size: 2.2rem;
}

main{
    padding: 1.5rem 2rem;
}

main *{
    margin: 0;
    /* margin-bottom: 2rem; */
}

.newDiv{
    font-family: sans-serif;
    text-align: center;
    border: 1px solid black;
}   

.key-log{
    font-size: 32px;
    font-family: sans-serif;
    max-width: calc(100vw - 4rem);
}

.block-description{
    border: 1px solid black;
    font-size: 1.6rem;
    background-color: rgb(75, 109, 173) !important;
    color: white;
}

.block-description p, .block-description{
    display: inline-block;
    margin: 0;
}

.map-usability-tester{
    background-color: beige;
}

.feedback-form{
    display: flex;
    flex-direction: column;
    width: 23rem;
}

.map-usability-tester > *{
    border: 1px solid burlywood;
    background-color: bisque;
    margin-bottom: 1rem;
}

footer{
    background-color: beige;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.signature{
    text-align: center;
    font-family: 'Lucy Said Okay';
    font-size: 1rem;
}

.spoiler-switchbox p , .spoiler-switch{
    margin: 0;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.9rem;
}

.text-generator-button{
    display: block;
}

.text-generator-display{
    width: 100%;
    height: 9rem;
}