/* body{
    padding: 2rem 1.5rem;
} */

.block{
    display: inline-block;
    width: 1rem;
    aspect-ratio: 1/1;
    /* border: .01rem solid black; */
    /* background-color: red; */
    text-align: center;
    padding-top: .5rem;
    font-size: .2rem;
}

.green.block{
    background-color: green;
}

.purple.block{
    background-color: #a300a3;
}

.black.block{
    background-color: black;
    /* border: .1rem solid white */
}

.golden.block{
    background-color: gold;
}

form{
    font-size: 2rem;
    display: inline-block;
    /* width: 25rem; */
    flex-direction: column;
    /* border: .1rem solid black; */
    margin-bottom: 2rem;
    padding: .5rem;
}

form p{
    margin: 0;
}

.builder-display{
    line-height: 0;
    display: grid;
    justify-content: start;
    border-top: .3rem solid #000000;
    /* grid-template-columns: repeat(7, 1fr); */
}

.information-block{
    display: inline-block;
    font-size: 2rem;
    /* border: .1rem solid black; */
    vertical-align: top;
}

.information-block p{
    margin: 0;
}