main{
    position: relative;
    display: flex;
    flex-direction: column;
}

p{
    font-size: 3rem;
}

.inventory-display{
    font-size: 3.2rem;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(4,auto);
    grid-template-columns: repeat(4,auto);
    gap: 2rem;
    font-family: sans-serif;
    background-color: #1a3977;
    border: .25rem solid #0e2044;
}

.inventory-display div{
    background-color: rgb(179, 179, 244);
    /* width: 2rem;
    aspect-ratio: 1/1; */
}

.button-grid{
    display: inline-grid;
    position: absolute;
    font-size: 5rem;
    top:2rem;
    z-index: 99;
    /* max-width: 26rem; */
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: navy;
    gap: 1rem;
    padding: 1rem;
}

.button-grid button{
    font-size: 3.2rem;
}

.hidden{
    display: none;
}