body{
    background-color: var(--bg-color);
}

body p , body h1 , body h2{
    color: var(--font-color);
    font-size: 1.6rem;
}

input[type="text"]{
    background-color: var(--form-bg);
}

button{
    background-color: var(--bg-color);
    color: var(--font-color);
}

@font-face {
    font-family: 'Lucy Said Okay';
    src: url('sources/font/LucySaidOkPersonalUse.ttf');
}

@keyframes glow {
    0% {
        background-color: rgb(169, 0, 0);
    }

    25%{
        background-color: rgb(78, 155, 0);
    }

    50% {
        background-color: rgb(109, 0, 0);
    }

    75%{
        background-color: rgb(0, 150, 150);
    }

    100% {
        background-color: rgb(169, 0, 0);
    }
}

.test-pishka{
    background-color: rgb(112, 0, 0);
    color: var(--font-color);
    animation: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    font-size: 2rem;
}

.newDiv{
    font-family: sans-serif;
    text-align: center;
    border: 1px solid black;
}   

.key-log{
    font-size: 32px;
    font-family: sans-serif;
    max-width: calc(100vw - 4rem);
}

.block-description{
    border: 1px solid black;
    font-size: 1.6rem;
    background-color: var(--map-UT-bg);
    color: var(--font-color)
}

.block-description p, .block-description{
    display: inline-block;
    margin: 0;
}

.map-usability-tester{
    background-color: var(--map-UT-bg);
    color: var(--font-color);
}

.feedback-form{
    display: flex;
    flex-direction: column;
    width: 23rem;
}

.map-usability-tester > *{
    border: 1px solid burlywood;
    background-color: var(--map-UT-bg);
    margin-bottom: 1rem;
}

.signature{
    text-align: center;
    font-family: 'Lucy Said Okay';
    font-size: 1rem;
}

.text-generator-button{
    display: block;
}

.text-generator-display{
    width: 70rem;
    height: 5rem;
    color: var(--font-color);
}