*{
    box-sizing: border-box;
}

/* *{
    outline: 1px solid red;
} */

:root{
    font-size: 62.5%;
    --header-color : aliceblue;
    --footer-color: aliceblue;
    --bg-color :white;
    --font-color :black;
    --block-description-bg: rgb(75, 109, 173) ;
    --map-UT-bg: beige;
    --form-bg: white;
}

.dark-theme{
    --header-color : rgb(55, 55, 55);
    --footer-color: rgb(55, 55, 55);
    --bg-color :rgb(28, 28, 28);
    --font-color :rgb(219, 219, 219);
    --block-description-bg: rgb(20, 0, 66);
    --map-UT-bg: rgb(90, 90, 90);
    --form-bg:rgb(66, 52, 52);
}

body{
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

main{
    padding: 1.5rem 2rem;
    margin: 0;
}

.admin-only{
    display: none;
}

/* header styles start */

header{
    background-color: var(--header-color);
    border-bottom: 2px solid black;
    padding: 1.5rem 2rem;
}

.header-flex-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.switch-array{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    border-right: .2rem solid black;
}

.switchbox.admin input{
    width: 5rem;
}

.switchbox p , .switch{
    margin: 0;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.9rem;
}

.entrance-text{
    margin: 0;
    margin-bottom: 1rem;
    line-height: .9rem;
    text-align: center;
    font-size: 2.2rem;
}

header img{
    height: 4rem;
}

.burger-menu{
    position: absolute;
    top: 108px;
    right: 0;
    padding: 0;
    background-color: white;
    border: .2rem solid black;
}

.burger-menu ul{
    padding: 2rem;
    list-style-type: none;
}

.burger-menu a{
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.burger-menu a:hover{
    /* transform: rotate(100); */
    color: red;
}

.burger-menu.open{
    right: 0;
}

.signature{
    text-align: center;
}

.time-box p{
    font-size : 1.6rem;
}

/* header styles end */



/* footer styles start */

footer{
    background-color: var(--footer-color);
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 1.2rem;
}

.link{
    text-decoration: none;
    font-size: 3rem;
    text-align: center;
    font-family: sans-serif;
    color: #DDFFDD;
    background-color: #77AA;
}

/* footer styles end */

.plain-text{
    font-size: 2rem;
}

header.off , footer.off{
    display: none;
}